
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.logo{
    float: left;
    width: 100px;
    height: 100px;
}

nav {
    background-color: #7a7979;
    height: 100px;
}
a{
    font-size:x-large;
    margin-left: 400px;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration:double;
}
a:link {
    color: red;
}
  
a:visited {
    color: rgb(0, 43, 128);
}
a:hover {
    color: hotpink;
}
a:active {
    color: rgb(0, 255, 8);
}

.about{
    margin-left: 400px;
    display: flex;
    gap: 20px;
    height: 300px;
    align-items: center;
}

.about img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px black solid;
    
}

ul{
    list-style-type: square;
    margin-left: 100px;
}

.contact{
    margin-left: 500px;
}
.contact h1{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

.contact-form{
    width: 700px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-control{
    display:flex;
    justify-content: space-between;
}



.form-submit-button{
    display: flex;
    justify-content:center;
   
}


footer{
    background-color:#7a7979;
    height: 50px;
    text-align: center;
    color: white;
    bottom: 0px;
    width:100%;
}
