
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.logo{
    float: left;
    width: 100px;
    height: 100px;
}

nav {
    background-color: #7a7979;
    height: 100px;
}
a{
    font-size:x-large;
    margin-left: 400px;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration:double;
}
a:link {
    color: red;
}
  
a:visited {
    color: rgb(0, 43, 128);
}
a:hover {
    color: hotpink;
}
a:active {
    color: rgb(0, 255, 8);
}


h1{
    margin-top: 50px;
    margin-left: 650px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
}
 th{
    border: 2px black solid;
    padding: 15px;
    width: 130px;
    font-size: 20px;
    text-align: center;
    
}
table, th,td{
    margin-left: 600px;
    border: 3px solid;
}
.form__group {
    display: flex;
    align-items: center;
}

input[type="radio"]{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.65rem;
}



footer{
    background-color:#7a7979;
    height: 50px;
    text-align: center;
    color: white;
    bottom: 0px;
    width:100%;
}
